# Hugo default output directory
public
resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

.sass-cache

# IDE config.
.idea

.firebase/

node_modules/
yarn.lock
dist
